<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class ="container mt-3">
        <div class="col-m-6 offset-md-3">
            <div class = "card">
                <div class = "card-header bg-success text-whit">
                    Administrador Aeropuerto
                </div>
                <div class = "card-body">
                    <form method = "POST" name = "FormRegistrar" id="FormRegistrar">
                        <div class = "form-group">
                            <input type= "text" name ="AeropuertoName" id="AeropuertoName" placeholder="Nombre del Aeropuerto" class = "form-control">
                            <input type= "text" name ="Ubicacion" id="Ubicacion" placeholder="Ubicacion" class = "form-control">
                            <input type= "text" name ="Terminales" id="Terminales" placeholder="N de Terminales" class = "form-control">
                        </div>
                        <input type = "submit" value = "Registrar" class ="btn btn-primary">
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>